table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
    font-size: 0.9em;
    min-width: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

body {
    padding: 20px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    
}


th {
    background-color: rgba(123, 69, 3, 0.659);
    color: rgb(255, 255, 255);
    text-align: left;
    font-weight: bold;
}

th:first-child, td:first-child {
    width: 50px;
    text-align: center;
}

tr {
    border-bottom: 1px solid #dddddd;
}

tr:nth-child(even){
    background: #f3f3f3;
}

tr:hover {
    background-color: blanchedalmond;
    cursor: pointer;
}

tr:last-of-type {
    border-bottom: 1px solid  rgb(236, 167, 83);
}


